<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.extend.RefundExtendMapper">
  <resultMap id="BaseResultMap" type="com.bean.extend.RefundExtend" extends="com.dao.RefundMapper.BaseResultMap">
    <association property="orderExtend" column="order_id" select="com.dao.extend.OrderExtendMapper.selectById"></association>
  </resultMap>
  
  <select id="findRefundLike" parameterType="map" resultMap="BaseResultMap">
    SELECT r.*
    FROM refund r, t_order o
    <where>
      AND r.order_id = o.id
      <if test="merchant != null">
        AND o.merchant = #{merchant}
      </if>
      <if test="status != null">
        AND r.status = #{status}
      </if>
      <if test="id != null">
        AND r.id = #{id}
      </if>
      <if test="consignee != null">
        AND r.consignee LIKE concat('%', #{consignee}, '%')
      </if>
      <if test="telephone != null">
        AND r.telephone LIKE concat('%', #{telephone}, '%')
      </if>
      <if test="date != null">
        AND datediff(r.time, #{date}) = 0
      </if>
    </where>
  </select>

  <select id="findByUserId" parameterType="Integer" resultMap="BaseResultMap">
    SELECT r.*
    FROM refund r, t_order o
    WHERE r.order_id = o.id
    AND o.user_id = #{userId}
  </select>
</mapper>